.editorconfig
.git
.github
.gitignore
.gitlab-ci
.gitlab-ci.yml
.gitmodules
.markdownlint.yaml
.nojekyll
.yamllint
CNAME
CONTRIBUTING.md
Dockerfile
LICENSE
Makefile
OWNERS
OWNERS_ALIASES
README.md
RELEASE.md
SECURITY_CONTACTS
Vagrantfile
_config.yml
build
code-of-conduct.md
contrib
docs
extra_playbooks
hack
index.html
logo
scripts
temp
test-infra
tests
*.tar
*.txt
!requirements*.txt
!tests/requirements*.txt
!build/
